button{
    color: blue;
    background-color: aqua;
    display: block;
   margin-left: auto;
   margin-right: auto;
   width: 100px;
   height: 30px;
}
body{
 background-color: blueviolet;
}
h1{
    color: aliceblue;
    text-align: center;
}
p{
    color: aliceblue;
    text-align: center;
}
input{
   display: block;
   margin-left: auto;
   margin-right: auto;
   text-align: center;
   width: 200px;
   height: 20px;
}